// @include flexContainerConfig($direction, $wrap, $justify, $aligni)
.titaMedia-ctn {
  @include flexContainerConfig(column, nowrap, center, center);
  padding: 1%;
  width: 34.722222vw; // = 500px / 1440px
  height: max-content;
  margin: 0 auto;
  align-self: center;
  border-left: 1px solid $mainC;
  border-bottom: 1px solid $mainC;
  img {
    width: 26.388889vw; // = 380px / 1440px
    height: 2.7777778vw; // = 40px / 1440px
    margin-bottom: 1%;
  }
  h2 {
    font-size: calc(30px + 0.013888889vw); // = 30px + (2px / 1440px)
    margin-bottom: 1%;
  }
  h3 {
    font-size: calc(22px + 0.013888889vw); // = 22px + (2px / 1440px)
    margin-bottom: 1%;
  }
}
