.uxui-ctn {
  @include flexContainerConfig(column, nowrap, center, center);
  bottom: 7.6388889vw; // 100px / 1440px
  left: calc(50vw - 5.5555555vw); // = (1220px / 1440px) - ((160px / 1440px) / 2)
}
.uxui-overlay {
  background-image: url("assets/overlays/uxuiOverlay.png");
}
.uxuiContent-ctn {
  @include flexContainerConfig(column, nowrap, top, center);
  .pilar-ctn {
    h4 {
      transform: rotate(270deg) translate(-220%, -20%);
    }
  }
}