* {
  box-sizing: border-box;
  letter-spacing: 0;
  scroll-behavior: smooth; 
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  // Background values for svg.
  background-position: center;
  background-size: cover;
  background-color: unset;
  background-repeat: no-repeat;
}
body {
  background-color: #041117;
  font-family: "Be Vietnam";
  color :#aac1cd;
}
// ***************
// Global Classes:
// ***************
.flex_ctn {
  display: flex;
}
.visibility_hidden{
  visibility: hidden;
}
.visibility_visible {
  visibility: visible;
}
.display_none{
  display: none;
}
.display_block{
  display: block;
}
.display_inline{
  display: inline;
}

.main-ctn {
  height: 45.138889vw; // = 650px / 1440px
}