.flow_circle {
  @include flexContainerConfig(column, nowrap, center, center);
  width: 11.111111vw; // = 160px / 1440px
  height: 11.111111vw; // = 160px / 1440px
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  .borderEffect {
    margin: 3%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 0.20833333vw solid $mainC; // = 3px / 1440px
    border-top: 0.20833333vw double $secondC; // = 3px / 1440px
    border-right: 0.20833333vw solid $thirdC; // = 3px / 1440px
    border-bottom: 0.20833333vw double $fourthC; // = 3px / 1440px
    transition: 0.4s ease-in-out;
    animation: borderEffect 60s linear 0s infinite normal;
  }
  
  h2 {
    position: absolute;
    font-weight: 700;
    font-size: calc(20px + 0.013888889vw); // 20px + (2px / 1440px)
    color: $secondC;
    z-index: 10;
    transition: 0.4s ease-in-out;
  }
  .circleOverylay_ctn {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    opacity: 0.2;
    transition: 0.4s ease-in-out;
  }
  &:hover {
    width: 12.5vw; // = 180px / 1440px
    height: 12.5vw; // = 180px / 1440px
    .borderEffect {
      border-left: 0.27777778vw solid $mainCB; // = 4px / 1440px
      border-top: 0.27777778vw double $secondCB; // = 4px / 1440px
      border-right: 0.27777778vw solid $thirdCB; // = 4px / 1440px
      border-bottom: 0.27777778vw double $fourthCB; // = 4px / 1440px
    }
    .circleOverylay_ctn {
      filter: blur(0);
      opacity: 0.8;
    }
    h2 {
      font-size: calc(24px + 0.013888889vw); // 24px + (2px / 1440px)
      color: $thirdC;
    }
  } 
}
@keyframes borderEffect{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(16200deg);
  }
}