.fullScreenOverlay_ctn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 100;
  background-color: rgba(10, 23, 55, 0.98);
  color: $mainCOverlay;
  border-left: 0.20833333vw solid $mainC; // = 3px / 1440px
  border-top: 0.20833333vw double $secondC; // = 3px / 1440px
  border-right: 0.20833333vw solid $thirdC; // = 3px / 1440px
  border-bottom: 0.20833333vw double $fourthC; // = 3px / 1440px
  h3 {
    font-size: 34px;
    font-weight: bold;
  }
  h4 {
    color: $secondC;
    font-size: 30px;
    font-weight: bold;
  }
}
.pyramid-ctn {
  @include flexContainerConfig(column, nowrap, center, center);
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  width: 90%;
  margin-top: 2%;
  padding: 1%;
  background-color: rgba(141, 139, 153, 0.583);
}
.pilars-wrapper {
  @include flexContainerConfig(row, nowrap, center, center);
  height: 50%;
  background-color: rgba(118, 103, 82, 0.583);
  .pilar-ctn {
    border: 2px solid rgb(22, 20, 55);
    width: 15%;
    height: 100%;
    margin: 0 5%; 
    box-shadow: 16px 4px 9px -1px rgba(24,43,63,0.65);
    background-color: rgba(22, 20, 55, 0.652);
    overflow: scroll;
    h4 {
      width: 100%;
      transform: rotate(270deg) translate(-100%, -20%);
      text-orientation: mixed;
      text-align: center;
    }
  }
}
.solutions-ctn {
  @include flexContainerConfig(row, wrap, center, center);
  width: 70%;
  height: 25%;
  background-color: rgba(82, 118, 85, 0.583);
  clip-path: polygon(100% 0, 100% 90%, 49% 100%, 0 90%, 0 0);
  h4 {
    margin: 0 1%;
  }
}