/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0;
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-position: center;
  background-size: cover;
  background-color: unset;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}

body {
  background-color: #041117;
  font-family: "Be Vietnam";
  color: #aac1cd;
}

.flex_ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visibility_hidden {
  visibility: hidden;
}

.visibility_visible {
  visibility: visible;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.display_inline {
  display: inline;
}

.position_absolute {
  position: absolute;
}

.position_fixed {
  position: fixed;
}

.main-ctn {
  height: 45.138889vw;
}

.flow_circle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.111111vw;
  height: 11.111111vw;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.flow_circle .borderEffect {
  margin: 3%;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 0.20833vw solid #aac1cd;
  border-top: 0.20833vw double #aac1cd;
  border-right: 0.20833vw solid #6bc8fa;
  border-bottom: 0.20833vw double #6b88fa;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: borderEffect 60s linear 0s infinite normal;
          animation: borderEffect 60s linear 0s infinite normal;
}

.flow_circle h2 {
  position: absolute;
  font-weight: 700;
  font-size: calc(20px + 0.013888889vw);
  color: #aac1cd;
  z-index: 10;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.flow_circle .circleOverylay_ctn {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0.1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.flow_circle:hover {
  cursor: pointer;
  width: 12.5vw;
  height: 12.5vw;
}

.flow_circle:hover .borderEffect {
  border-left: 0.27778vw solid #00a6ff;
  border-top: 0.27778vw double #00fff2;
  border-right: 0.27778vw solid #0047fa;
  border-bottom: 0.27778vw double #7b00f5;
}

.flow_circle:hover .circleOverylay_ctn {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 0.5;
}

.flow_circle:hover h2 {
  font-size: calc(24px + 0.013888889vw);
  color: #6bc8fa;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}

@-webkit-keyframes borderEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(16200deg);
            transform: rotate(16200deg);
  }
}

@keyframes borderEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(16200deg);
            transform: rotate(16200deg);
  }
}

.fullScreenOverlay_ctn {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 100;
  background-color: rgba(10, 23, 55, 0.98);
  color: #d8e3e9;
  border-left: 0.20833vw solid #aac1cd;
  border-top: 0.20833vw double #aac1cd;
  border-right: 0.20833vw solid #6bc8fa;
  border-bottom: 0.20833vw double #6b88fa;
  -webkit-transition: height 0.4s, width 0.4s;
  transition: height 0.4s, width 0.4s;
  overflow: hidden;
}

.fullScreenOverlay_ctn h3 {
  font-size: 34px;
  font-weight: bold;
}

.fullScreenOverlay_ctn h4 {
  color: #aac1cd;
  font-size: 30px;
  font-weight: bold;
}

.pyramid-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  width: 90%;
  margin-top: 2%;
  padding: 1%;
  background-color: rgba(141, 139, 153, 0.583);
}

.pilars-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  background-color: rgba(118, 103, 82, 0.583);
}

.pilars-wrapper .pilar-ctn {
  border: 2px solid #161437;
  width: 15%;
  height: 100%;
  margin: 0 5%;
  -webkit-box-shadow: 16px 4px 9px -1px rgba(24, 43, 63, 0.65);
          box-shadow: 16px 4px 9px -1px rgba(24, 43, 63, 0.65);
  background-color: rgba(22, 20, 55, 0.652);
  overflow: scroll;
}

.pilars-wrapper .pilar-ctn h4 {
  width: 100%;
  -webkit-transform: rotate(270deg) translate(-100%, -20%);
          transform: rotate(270deg) translate(-100%, -20%);
  text-orientation: mixed;
  text-align: center;
}

.solutions-ctn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 25%;
  background-color: rgba(82, 118, 85, 0.583);
  -webkit-clip-path: polygon(100% 0, 100% 90%, 49% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 49% 100%, 0 90%, 0 0);
}

.solutions-ctn h4 {
  margin: 0 1%;
}

.closeBtn-style {
  position: absolute;
  top: 4vw;
  right: 8vw;
  width: 68px;
  height: 20px;
  color: #aac1cd;
  font-weight: bolder;
  z-index: 200;
  overflow: hidden;
  -webkit-transition: height 0.1s linear 0.3s, width 0.1s linear 0.3s;
  transition: height 0.1s linear 0.3s, width 0.1s linear 0.3s;
}

.closeBtn-style:hover {
  color: #00a6ff;
  background-color: #aac1cd;
  cursor: pointer;
}

.fullScreenOverlay_zero {
  width: 0vw;
  height: 0%;
  border: none;
}

.titaMedia-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  width: 34.722222vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid #aac1cd;
  border-bottom: 1px solid #aac1cd;
}

.titaMedia-ctn img {
  width: 26.388889vw;
  height: 2.7777778vw;
  margin-bottom: 1%;
}

.titaMedia-ctn h2 {
  font-size: calc(30px + 0.013888889vw);
  margin-bottom: 1%;
}

.titaMedia-ctn h3 {
  font-size: calc(22px + 0.013888889vw);
  margin-bottom: 1%;
}

.eCommerce-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 7.6388889vw;
  left: 5.5555556vw;
}

.eCommerce-overlay {
  background-image: url("../assets/overlays/eCommerceOverlay.png");
}

.eCommerceContent-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uxui-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 7.6388889vw;
  left: calc(50vw - 5.5555555vw);
}

.uxui-overlay {
  background-image: url("../assets/overlays/uxuiOverlay.png");
}

.uxuiContent-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uxuiContent-ctn .pilar-ctn h4 {
  -webkit-transform: rotate(270deg) translate(-220%, -20%);
          transform: rotate(270deg) translate(-220%, -20%);
}

.paidMedia-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 7.6388889vw;
  right: 5.5555556vw;
}

.paidMedia-overlay {
  background-image: url(../assets/overlays/paidMediaOverlay.png);
}

.paidMediaContent-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paidMediaContent-ctn .pyramid-ctn {
  margin-top: 15%;
}

.paidMediaContent-ctn .solutions-ctn {
  height: 35%;
}

.titaProjects-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7.6388889vw;
  left: 5.5555556vw;
}

.titaProjects-overlay {
  background-image: url("../assets/overlays/projectsOverlay.png");
}

.titaProjectsContent-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titaProjectsContent-ctn .projects-ctn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80%;
}

.titaProjectsContent-ctn .projects-ctn a, .titaProjectsContent-ctn .projects-ctn iframe {
  margin-left: 1%;
  width: 35%;
  height: 35%;
}

.titaProjectsContent-ctn .projects-ctn a img {
  width: 100%;
  height: 100%;
}

.titaLearning-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7.6388889vw;
  right: 5.5555556vw;
}

.titaLearning-overlay {
  background-image: url(../assets/overlays/learningOverlay.png);
}

.titaLearningContent-ctn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titaLearningContent-ctn .pyramid-ctn {
  margin-top: 10%;
}

.titaLearningContent-ctn .skills-ctn {
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
}

.titaLearningContent-ctn .skills-ctn img {
  width: 80%;
  height: 80%;
}
/*# sourceMappingURL=style.css.map */